# Folders
patchouli_books/
versions/
logs/
libraries/
defaultconfigs/
crash-reports/
world-debug/
mod_data/
schematics/
world/

# Compiled class file
*.class

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
*.mca
*.dat
*.dat_old
whitelist.json
usercache.json
usernamecache.json
banned-ips.json
banned-players.json
eula.txt
ops.json
session.lock
graveyardGhoulingUUIDmapping.txt

# Add some .jar
!server.jar
!mods/*.jar
!mods_client/*.jar